/* ------------- Begin Global Styles -------------*/

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.floatR {
	float: right;
}

.floatL {
	float: left;
}

ul li {list-style-type: none;
	text-decoration: none;}

img {border: 0;}

body {
	@include bg-color();
	font-family: $font-copy;
	font-size: $size-copy;
	line-height: $height-copy;
}

a:link, a:visited {
	list-style-type: none;
	text-decoration: none;
	color: $warm-black;
}

a:hover {
	color: $warm-black;
}

a:active {
	color: $pale-green;
}

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.home {
	width: 960px;
	margin: 0 auto;
}

.hide {
	display: none;
}

.throw {
	position: absolute;
	left: -999em;
	top: -999em;
}

/* ------------- Begin Main Styles -------------*/
